<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkty</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
</head>
<body>

    <section>
        <div class="jumbotron">
            <div class="container">
                <h1>Produkty</h1>
                <p>Dodaj produkty</p>
            </div>
        </div>
    </section>
    <section class="container">

    <h2>New Product</h2>

    <form method="POST" th:action="@{/products/add}" th:object="${newProduct}" enctype="multipart/form-data" id="addProduct">

            <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                    <span class="alert alert-danger">
                        Please correct the problems below and resubmit.
                    </span>
                </span>
            </div></br>


            <label>Name:<br/>
                <input type="text" name="name"  th:field="*{name}"/></label>
                <span class="validationError">
                    <span class="alert alert-danger"
                          th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}">Name Error</span><br/>
                </span>
            <label>UnitPrice:<br/>
                <input type="text" name="unitPrice" th:field="*{unitPrice}"/></label>
                <span class="validationError">
                    <span class="alert alert-danger"
                        th:if="${#fields.hasErrors('unitPrice')}"
                        th:errors="*{unitPrice}">Name Error</span><br/>
                </span>
            <label>Description:<br/>
                <input type="text" name="description" th:field="*{description}"/></label>
                <span class="validationError">
                    <span class="alert alert-danger"
                        th:if="${#fields.hasErrors('description')}"
                        th:errors="*{description}">Name Error</span><br/>
                </span>
            <label>Manufacturer:<br/>
                <input type="text" name="manufacturer" th:field="*{manufacturer}"/></label>
                <span class="validationError">
                    <span class="alert alert-danger"
                          th:if="${#fields.hasErrors('manufacturer')}"
                          th:errors="*{manufacturer}">Name Error</span><br/>
                </span>
            <label>Category:<br/>
                <input type="text" name="category" th:field="*{category}"/></label>
                <span class="validationError">
                    <span class="alert alert-danger"
                        th:if="${#fields.hasErrors('category')}"
                        th:errors="*{category}">Name Error</span><br/>
                </span>
            <label>UnitsInStock:<br/>
                <input type="text" name="unitsInStock" th:field="*{unitsInStock}"/></label>
                <span class="validationError">
                    <span class="alert alert-danger"
                        th:if="${#fields.hasErrors('unitsInStock')}"
                        th:errors="*{unitsInStock}">Name Error</span><br/>
                </span>

            Stan:
            <select th:field="*{condition}">
                <option th:each="state : ${T(shop.domens.Product.Condition).values()}"
                        th:value="${state}"
                        th:text="${state}">
                </option>
            </select><br/>

            <label>File:<br/>
                <input type="file"  name="productImage" th:field="*{productImage}"/></label><br/>

        <br/>

        <input type="submit" value="Submit order"/>
    </form>


    <form method="POST" th:action="@{/logout}" id="logoutForm">
        <input type="submit" value="Logout"/>
    </form>
    </section>
</body>
</html>
