<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <title>Produkt</title>
</head>
<body>
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Produkt</h1>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-5">
            <img th:src="@{${'/images/' + product.productId + '.png'}}"/>
        </div>
        <div class="col-md-5">
            <h3><span th:text="${product.name}"></span></h3>
            <p><span th:text="${product.description}"></span></p>
            <p>
                <strong>Kod produktu: </strong><span class="labellabel-warning"th:text="${product.productId}"></span>
            </p>
            <p>
                <strong>Producent</strong>:  <span th:text="${product.manufacturer}"></span>
            </p>
            <p>
                <strong>Kategoria</strong>:  <span th:text="${product.category}"></span>
            </p>
            <p>
                <strong>Dostępna liczba sztuk</strong>: <span th:text="${product.unitsInStock}"></span>
            </p>
            <h4><span th:text="${product.unitPrice}"></span> PLN</h4>

            <form method="POST" th:action="@{/order}" th:object="${newOrder}">


                    <input type="hidden" name="inputData" th:field="*{id}"/></label><br/>

                <label>UnitsInStock:<br/>
                    <input type="text" name="inputData" th:field="*{orderSize}"/></label>


                <input type="submit" value="Kup"/>
            </form>

        </div>
    </div>
</section>

</body>
</html>